<html>
  <head>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <div class="polaroid">
      <br>
      <img src="assets\images\logo.png" width="300" height="120" >
      </div>
   <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 70px;;">EDICT</h1>
   <h1 style="font-weight: lighter; font-size: 40px;">We know, You will be notified</h1>
   <br>
   <br>
   <section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
              <!-- Stylish Login Page Start -->
                <form class="codehim-form">
        <div class="form-title">
            <div class="user-icon gr-bg">
            <i class="fa fa-user"></i>
            </div>
     <h2 style="color:white;font-family: Arial, Helvetica, sans-serif;"> USER LOGIN </h2>
            </div>
    <label for="email"><i class="fa fa-envelope"></i> Email:</label>
        <input type="email" id="email" class="cm-input" placeholder="Enter your email adress">
        
        <label for="pass"><i class="fa fa-lock"></i> Password:</label>
        <input id="pass" type="password" class="cm-input" placeholder="Enter your password">
        <button type="submit" class="btn-login  gr-bg">Login</button>
    </form>
              <!-- Stylish Login Page End -->
    		
    		</div>
		</div>
    </div>
</section>
<br>
<br>
  
  </body>
</html>